@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.my-config {
  --cfg-pubkey: "1754f8f3a08e2af86480";
  --cfg-img-only: 1;
  --cfg-multiple: 0;
  --cfg-max-local-file-size-bytes: 2097152;
  --cfg-use-cloud-image-editor: 1;
  --cfg-source-list: "local";
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}

.profile-config-image {
  --cfg-pubkey: "e673147d5f836adc94ba";
  --cfg-img-only: 1;
  --cfg-multiple: 0;
  --cfg-max-local-file-size-bytes: 3145728;
  --cfg-use-cloud-image-editor: 1;
  --cfg-source-list: "local, url, camera";
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}